USE [master]
GO
/****** Object:  Database [DAHLIA_FFR]    Script Date: 2023-05-02 04:53:20 PM ******/
CREATE DATABASE [DAHLIA_FFR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAHLIA_FFR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MEI\MSSQL\DATA\DAHLIA_FFR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAHLIA_FFR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MEI\MSSQL\DATA\DAHLIA_FFR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAHLIA_FFR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAHLIA_FFR]
GO
/****** Object:  Table [dbo].[CHITIETHDBH]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHDBH](
	[MAHD] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[THANHTIEN]  AS (CONVERT([int],[SOLUONG]*[DONGIA])) PERSISTED,
 CONSTRAINT [PK_CHITIETHDBH] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHDNH]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHDNH](
	[MAHD] [int] NOT NULL,
	[MANL] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONVITINH] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[THANHTIEN]  AS (CONVERT([int],[SOLUONG]*[DONGIA])) PERSISTED,
 CONSTRAINT [PK_CHITIETHDNH] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTHUC]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC](
	[MAMON] [int] NOT NULL,
	[MANL] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONVITINH] [int] NOT NULL,
	[GIANL] [int] NOT NULL,
 CONSTRAINT [PK_CONGTHUC] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MADVT] [int] IDENTITY(1,1) NOT NULL,
	[TENDVT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[MADVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHTHUCTHANHTOAN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUCTHANHTOAN](
	[MAHTTT] [int] IDENTITY(1,1) NOT NULL,
	[TENHTTT] [nvarchar](50) NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_HINHTHUCTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MAHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYHD] [date] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[THANHTOAN] [int] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
 CONSTRAINT [PK_HOADONBANHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAPHANG]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAPHANG](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAQL] [int] NOT NULL,
	[NGAYHD] [date] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
 CONSTRAINT [PK_HOADONNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [int] IDENTITY(1,1) NOT NULL,
	[TENNL] [nvarchar](50) NOT NULL,
	[TONKHO] [int] NOT NULL,
	[DONVITINH] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MATK] [int] NULL,
	[HONV] [nvarchar](50) NOT NULL,
	[TENNV] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[NGAYVAOLAM] [date] NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAINV]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAINV](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](20) NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_PHANLOAINV] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAITD]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAITD](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_PHANLOAITD] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPQ] [int] IDENTITY(1,1) NOT NULL,
	[TENPQ] [nvarchar](20) NOT NULL,
	[DAXOA] [datetime] NULL,
	[KYHIEU] [varchar](5) NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MAQL] [int] IDENTITY(1,1) NOT NULL,
	[MATK] [int] NULL,
	[HOQL] [nvarchar](50) NOT NULL,
	[TENQL] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [int] NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MAQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](20) NOT NULL,
	[MATKHAU] [varbinary](max) NOT NULL,
	[SALT] [uniqueidentifier] NOT NULL,
	[PHANQUYEN] [int] NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON](
	[MAMON] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[TENMON] [nvarchar](100) NOT NULL,
	[ANHMON] [varchar](max) NOT NULL,
	[GIAGOC] [int] NOT NULL,
	[GIABAN] [int] NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_THUCDON] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDONHANG]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDONHANG](
	[MATT] [int] IDENTITY(1,1) NOT NULL,
	[TENTT] [nvarchar](50) NOT NULL,
	[DAXOA] [datetime] NULL,
 CONSTRAINT [PK_TRANGTHAIDONHANG] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONGTHUC] ADD  CONSTRAINT [DF_CONGTHUC_SOLUONG]  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CONGTHUC] ADD  CONSTRAINT [DF_CONGTHUC_GIANL]  DEFAULT ((0)) FOR [GIANL]
GO
ALTER TABLE [dbo].[HOADONBANHANG] ADD  CONSTRAINT [DF_HOADONBANHANG_NGAYHD]  DEFAULT (getdate()) FOR [NGAYHD]
GO
ALTER TABLE [dbo].[HOADONBANHANG] ADD  CONSTRAINT [DF_HOADONBANHANG_TONGTIEN]  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  CONSTRAINT [DF_HOADONNHAPHANG_NGAYHD]  DEFAULT (getdate()) FOR [NGAYHD]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  CONSTRAINT [DF_HOADONNHAPHANG_TONGTIEN]  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [DF_NGUYENLIEU_TONGTONKHO]  DEFAULT ((0)) FOR [TONKHO]
GO
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [DF_NGUYENLIEU_DONGIA]  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_NGAYVAOLAM]  DEFAULT (getdate()) FOR [NGAYVAOLAM]
GO
ALTER TABLE [dbo].[THUCDON] ADD  CONSTRAINT [DF_THUCDON_GIAGOC]  DEFAULT ((0)) FOR [GIAGOC]
GO
ALTER TABLE [dbo].[THUCDON] ADD  CONSTRAINT [DF_THUCDON_GIABAN]  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[CHITIETHDBH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDBH_HOADONBANHANG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONBANHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHDBH] CHECK CONSTRAINT [FK_CHITIETHDBH_HOADONBANHANG]
GO
ALTER TABLE [dbo].[CHITIETHDBH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDBH_THUCDON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[THUCDON] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETHDBH] CHECK CONSTRAINT [FK_CHITIETHDBH_THUCDON]
GO
ALTER TABLE [dbo].[CHITIETHDNH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDNH_DONVITINH] FOREIGN KEY([DONVITINH])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
ALTER TABLE [dbo].[CHITIETHDNH] CHECK CONSTRAINT [FK_CHITIETHDNH_DONVITINH]
GO
ALTER TABLE [dbo].[CHITIETHDNH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDNH_HOADONNHAPHANG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONNHAPHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHDNH] CHECK CONSTRAINT [FK_CHITIETHDNH_HOADONNHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETHDNH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDNH_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CHITIETHDNH] CHECK CONSTRAINT [FK_CHITIETHDNH_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CONGTHUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_DONVITINH] FOREIGN KEY([DONVITINH])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
ALTER TABLE [dbo].[CONGTHUC] CHECK CONSTRAINT [FK_CONGTHUC_DONVITINH]
GO
ALTER TABLE [dbo].[CONGTHUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CONGTHUC] CHECK CONSTRAINT [FK_CONGTHUC_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CONGTHUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_THUCDON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[THUCDON] ([MAMON])
GO
ALTER TABLE [dbo].[CONGTHUC] CHECK CONSTRAINT [FK_CONGTHUC_THUCDON]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBANHANG_HINHTHUCTHANHTOAN] FOREIGN KEY([THANHTOAN])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([MAHTTT])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HOADONBANHANG_HINHTHUCTHANHTOAN]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBANHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HOADONBANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBANHANG_TRANGTHAIDONHANG] FOREIGN KEY([TRANGTHAI])
REFERENCES [dbo].[TRANGTHAIDONHANG] ([MATT])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HOADONBANHANG_TRANGTHAIDONHANG]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAPHANG_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HOADONNHAPHANG_QUANLY]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_DONVITINH] FOREIGN KEY([DONVITINH])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_DONVITINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHANLOAINV] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[PHANLOAINV] ([MALOAI])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHANLOAINV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_QUANLY_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_QUANLY_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHANQUYEN] FOREIGN KEY([PHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAPQ])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHANQUYEN]
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_THUCDON_PHANLOAITD] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[PHANLOAITD] ([MALOAI])
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_THUCDON_PHANLOAITD]
GO
ALTER TABLE [dbo].[CHITIETHDBH]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETHDBH_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHDBH] CHECK CONSTRAINT [CK_CHITIETHDBH_SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETHDNH]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETHDNH_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHDNH] CHECK CONSTRAINT [CK_CHITIETHDNH_DONGIA]
GO
ALTER TABLE [dbo].[CHITIETHDNH]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETHDNH_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHDNH] CHECK CONSTRAINT [CK_CHITIETHDNH_SOLUONG]
GO
ALTER TABLE [dbo].[CONGTHUC]  WITH CHECK ADD  CONSTRAINT [CK_CONGTHUC_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CONGTHUC] CHECK CONSTRAINT [CK_CONGTHUC_SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(2)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_NGAYSINH] CHECK  (((datepart(year,getdate())-datepart(year,[NGAYSINH]))>=(18)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_NGAYSINH]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [CK_QUANLY_GIOITINH] CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(2)))
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [CK_QUANLY_GIOITINH]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [CK_QUANLY_NGAYSINH] CHECK  (((datepart(year,getdate())-datepart(year,[NGAYSINH]))>=(18)))
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [CK_QUANLY_NGAYSINH]
GO
/****** Object:  StoredProcedure [dbo].[spCHITIETHDBH]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCHITIETHDBH]
(
	@MaHD INT = NULL,
	@MaMon INT = NULL,
	@SoLuong INT = NULL,
	@DonGia INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAHD, MAMON, SOLUONG, DONGIA, THANHTIEN FROM CHITIETHDBH
			WHERE MAHD = (CASE WHEN @MaHD <> 0 THEN @MaHD ELSE MAHD END)
				AND MAMON = (CASE WHEN @MaMon <> 0 THEN @MaMon ELSE MAMON END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO CHITIETHDBH(MAHD, MAMON, SOLUONG, DONGIA) VALUES
				(@MaHD, @MaMon, @SoLuong, @DonGia)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE CHITIETHDBH
			SET SOLUONG = @SoLuong, DONGIA = @DonGia
			WHERE MAHD = @MaHD AND MAMON = @MaMon
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM CHITIETHDBH
			WHERE MAHD = @MaHD AND MAMON = @MaMon
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spCHITIETHDNH]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCHITIETHDNH]
(
	@MaHD INT = NULL,
	@MaNL INT = NULL,
	@SoLuong INT = NULL,
	@DonViTinh INT = NULL,
	@DonGia INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAHD, MANL, SOLUONG, DONVITINH, DONGIA, THANHTIEN FROM CHITIETHDNH
			WHERE MAHD = (CASE WHEN @MaHD <> 0 THEN @MaHD ELSE MAHD END)
				AND MANL = (CASE WHEN @MaNL <> 0 THEN @MaNL ELSE MANL END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO CHITIETHDNH(MAHD, MANL, SOLUONG, DONVITINH, DONGIA) VALUES
				(@MaHD, @MaNL, @SoLuong, @DonViTinh, @DonGia)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE CHITIETHDNH
			SET SOLUONG = @SoLuong, DONVITINH = @DonViTinh, DONGIA = @DonGia
			WHERE MAHD = @MaHD AND MANL = @MaNL
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM CHITIETHDNH
			WHERE MAHD = @MaHD AND MANL = @MaNL
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spCONGTHUC]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCONGTHUC]
(
	@MaMon INT = NULL,
	@MaNL INT = NULL,
	@SoLuong INT = NULL,
	@DonViTinh INT = NULL,
	@GiaNL INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAMON, MANL, SOLUONG, DONVITINH, GIANL FROM CONGTHUC
			WHERE MAMON = (CASE WHEN @MaMon <> 0 THEN @MaMon ELSE MAMON END)
				AND MANL = (CASE WHEN @MaNL <> 0 THEN @MaNL ELSE MANL END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO CONGTHUC(MAMON, MANL, SOLUONG, DONVITINH, GIANL) VALUES
				(@MaMon, @MaNL, @SoLuong, @DonViTinh, @GiaNL)
				-- @SoLuong * (SELECT TOP 1 DONGIA FROM NGUYENLIEU WHERE MANL = @MaNL)
			EXEC spCONGTHUC @ActionType = 'UpdateOriginalPrice', @MaMon = @MaMon
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE CONGTHUC
			SET SOLUONG = @SoLuong, DONVITINH = @DonViTinh, GIANL = @GiaNL
				-- @SoLuong * (SELECT TOP 1 DONGIA FROM NGUYENLIEU WHERE MANL = @MaNL)
			WHERE MAMON = @MaMon AND MANL = @MaNL
			EXEC spCONGTHUC @ActionType = 'UpdateOriginalPrice', @MaMon = @MaMon
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM CONGTHUC
			WHERE MAMON = @MaMon AND MANL = @MaNL
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spDONVITINH]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDONVITINH]
(
	@MaDVT INT = NULL,
	@TenDVT NVARCHAR(50) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MADVT, TENDVT FROM DONVITINH
			WHERE MADVT = (CASE WHEN @MaDVT <> 0 THEN @MaDVT ELSE MADVT END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO DONVITINH(TENDVT) VALUES (@TenDVT)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE DONVITINH SET TENDVT = @TenDVT WHERE MADVT = @MaDVT
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM DONVITINH WHERE MADVT = @MaDVT
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spHINHTHUCTHANHTOAN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spHINHTHUCTHANHTOAN]
(
	@MaHTTT INT = NULL,
	@TenHTTT NVARCHAR(50) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAHTTT, TENHTTT FROM HINHTHUCTHANHTOAN
			WHERE DAXOA IS NULL AND MAHTTT = (CASE WHEN @MaHTTT <> 0 THEN @MaHTTT ELSE MAHTTT END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO HINHTHUCTHANHTOAN(TENHTTT) VALUES (@TenHTTT)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE HINHTHUCTHANHTOAN SET TENHTTT = @TenHTTT WHERE MAHTTT = @MaHTTT
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE HINHTHUCTHANHTOAN SET DAXOA = GETDATE() WHERE MAHTTT = @MaHTTT
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE HINHTHUCTHANHTOAN SET DAXOA = NULL WHERE MAHTTT = @MaHTTT
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spHOADONBANHANG]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spHOADONBANHANG]
(
	@MaHD INT = NULL,
	@MaNV INT = NULL,
	@NgayHD DATE = NULL,
	@TongTien INT = NULL,
	@ThanhToan VARCHAR(20) = NULL,
	@TrangThai VARCHAR(20) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAHD, MANV, NGAYHD, TONGTIEN, THANHTOAN, TRANGTHAI FROM HOADONBANHANG
			WHERE MAHD = (CASE WHEN @MaHD <> 0 THEN @MaHD ELSE MAHD END)
				AND MANV = (CASE WHEN @MaNV <> 0 THEN @MaNV ELSE MANV END)
				AND NGAYHD = (CASE WHEN @NgayHD <> '' THEN @NgayHD ELSE NGAYHD END)
				AND THANHTOAN = (CASE WHEN @ThanhToan <> 0 THEN @ThanhToan ELSE THANHTOAN END)
				AND TRANGTHAI = (CASE WHEN @TrangThai <> 0 THEN @TrangThai ELSE TRANGTHAI END)
		END
	IF @ActionType = 'GetLatest'
		BEGIN
			SELECT MAX(MAHD) FROM HOADONBANHANG
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO HOADONBANHANG(MANV, THANHTOAN, TRANGTHAI) VALUES
				(@MaNV, @ThanhToan, 1)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE HOADONBANHANG
			SET TONGTIEN = @TongTien, THANHTOAN = @ThanhToan, TRANGTHAI = @TrangThai
			WHERE MAHD = @MaHD
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM HOADONBANHANG WHERE MAHD = @MaHD
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spHOADONNHAPHANG]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spHOADONNHAPHANG]
(
	@MaHD INT = NULL,
	@MaQL INT = NULL,
	@NgayHD DATE = NULL,
	@TongTien INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAHD, MAQL, NGAYHD, TONGTIEN
			FROM HOADONNHAPHANG
			WHERE MAHD = (CASE WHEN @MaHD <> 0 THEN @MaHD ELSE MAHD END)
				AND MAQL = (CASE WHEN @MaQL <> 0 THEN @MaQL ELSE MAQL END)
				AND NGAYHD = (CASE WHEN NGAYHD <> '' THEN @NgayHD ELSE NGAYHD END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO HOADONNHAPHANG(MAQL) VALUES (@MaQL)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE HOADONNHAPHANG
			SET MAQL = @MaQL, NGAYHD = @NgayHD, TONGTIEN = @TongTien
			WHERE MAHD = @MaHD
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM HOADONNHAPHANG WHERE MAHD = @MaHD
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spNGUYENLIEU]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNGUYENLIEU]
(
	@MaNL INT = NULL,
	@TenNL NVARCHAR(50) = NULL,
	@TonKho INT = NULL,
	@DonViTinh INT = NULL,
	@DonGia INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MANL, TENNL, TONKHO, DONVITINH, DONGIA FROM NGUYENLIEU
			WHERE MANL = (CASE WHEN @MaNL <> 0 THEN @MaNL ELSE MANL END)
		END
	IF @ActionType = 'GetUnitPrice'
		BEGIN
			SELECT TOP 1 DONGIA FROM NGUYENLIEU WHERE MANL = @MaNL
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO NGUYENLIEU(TENNL, DONVITINH, DONGIA) VALUES (@TenNL, @DonViTinh, @DonGia)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE NGUYENLIEU
			SET TENNL = @TenNL, TONKHO = @TonKho, DONVITINH = @DonViTinh, DONGIA = @DonGia WHERE MANL = @MaNL
		END
	IF @ActionType = 'Delete'
		BEGIN
			DELETE FROM NGUYENLIEU WHERE MANL = @MaNL
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spNHANVIEN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spNHANVIEN]
(
	@MaNV INT = NULL,
	@MaTK INT = NULL,
	@HoNV NVARCHAR(50) = NULL,
	@TenNV NVARCHAR(10) = NULL,
	@NgaySinh DATE = NULL,
	@GioiTinh INT = NULL,
	@Sdt VARCHAR(15) = NULL,
	@DiaChi NVARCHAR(200) = NULL,
	@MaLoai INT = NULL,
	@NgayVaoLam DATE = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MANV, MATK, HONV, TENNV, NGAYSINH, GIOITINH, SDT, DIACHI, MALOAI, NGAYVAOLAM FROM NHANVIEN
			WHERE DAXOA IS NULL
				AND MANV = (CASE WHEN @MaNV <> 0 THEN @MaNV ELSE MANV END)
				AND MATK = (CASE WHEN @MaTK <> 0 THEN @MaTK ELSE MATK END)
				AND GIOITINH = (CASE WHEN @GioiTinh <> 0 THEN @GioiTinh ELSE GIOITINH END)
				AND MALOAI = (CASE WHEN @MaLoai <> 0 THEN @MaLoai ELSE MALOAI END)
				AND NGAYVAOLAM = (CASE WHEN @NgayVaoLam IS NOT NULL THEN @NgayVaoLam ELSE NGAYVAOLAM END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO NHANVIEN(HONV, TENNV, NGAYSINH, GIOITINH, SDT, DIACHI, MALOAI, NGAYVAOLAM) VALUES
				(@HoNV, @TenNV, @NgaySinh, @GioiTinh, @Sdt, @DiaChi, @MaLoai, @NgayVaoLam)
			EXEC spTAIKHOAN @ActionType = 'Create', @PhanQuyen = 3
		END
	IF @ActionType = 'AddAccount'
		BEGIN
			UPDATE NHANVIEN
			SET MATK = (SELECT MAX(MATK) FROM TAIKHOAN)
			WHERE MANV = (SELECT MAX(MANV) FROM NHANVIEN)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE NHANVIEN
			SET HONV = @HoNV, TENNV = @TenNV, NGAYSINH = @NgaySinh, GIOITINH = @GioiTinh, SDT = @Sdt, DIACHI = @DiaChi, MALOAI = @MaLoai
			WHERE MANV = @MaNV
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE NHANVIEN SET DAXOA = GETDATE() WHERE MANV = @MaNV
			EXEC spTAIKHOAN @ActionType = 'Delete', @MaTK = @MaTK
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE NHANVIEN SET DAXOA = NULL WHERE MANV = @MaNV
			EXEC spTAIKHOAN @ActionType = 'Restore', @MaTK = @MaTK
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spPHANLOAINV]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPHANLOAINV]
(
	@MaLoai INT = NULL,
	@TenLoai NVARCHAR(20) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MALOAI, TENLOAI FROM PHANLOAINV
			WHERE DAXOA IS NULL AND MALOAI = (CASE WHEN @MaLoai <> 0 THEN @MaLoai ELSE MALOAI END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO PHANLOAINV(TENLOAI) VALUES (@TenLoai)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE PHANLOAINV SET TENLOAI = @TenLoai WHERE MALOAI = @MaLoai
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE PHANLOAINV SET DAXOA = GETDATE() WHERE MALOAI = @MaLoai
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE PHANLOAINV SET DAXOA = NULL WHERE MALOAI = @MaLoai
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spPHANLOAITD]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPHANLOAITD]
(
	@MaLoai INT = NULL,
	@TenLoai NVARCHAR(50) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MALOAI, TENLOAI FROM PHANLOAITD
			WHERE DAXOA IS NULL
				AND MALOAI = (CASE WHEN @MaLoai <> 0 THEN @MaLoai ELSE MALOAI END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO PHANLOAITD(TENLOAI) VALUES (@TenLoai)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE PHANLOAITD SET TENLOAI = @TenLoai WHERE MALOAI = @MaLoai
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE PHANLOAITD SET DAXOA = GETDATE() WHERE MALOAI = @MaLoai
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE PHANLOAITD SET DAXOA = NULL WHERE MALOAI = @MaLoai
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spPHANQUYEN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPHANQUYEN]
(
	@MaPQ INT = NULL,
	@TenPQ NVARCHAR(20) = NULL,
	@KyHieu VARCHAR(5) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAPQ, TENPQ, KYHIEU FROM PHANQUYEN
			WHERE DAXOA IS NULL AND MAPQ = (CASE WHEN @MaPQ <> 0 THEN @MaPQ ELSE MAPQ END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO PHANQUYEN(TENPQ, KYHIEU) VALUES (@TenPQ, @KyHieu)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE PHANQUYEN SET TENPQ = @TenPQ, KYHIEU = @KyHieu WHERE MAPQ = @MaPQ
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE PHANQUYEN SET DAXOA = GETDATE() WHERE MAPQ = @MaPQ
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE PHANQUYEN SET DAXOA = NULL WHERE MAPQ = @MaPQ
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spQUANLY]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spQUANLY]
(
	@MaQL INT = NULL,
	@MaTK INT = NULL,
	@HoQL NVARCHAR(50) = NULL,
	@TenQL NVARCHAR(10) = NULL,
	@NgaySinh DATE = NULL,
	@GioiTinh INT = NULL,
	@Sdt VARCHAR(15) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAQL, MATK, HOQL, TENQL, NGAYSINH, GIOITINH, SDT FROM QUANLY
			WHERE DAXOA IS NULL
				AND MAQL = (CASE WHEN @MaQL <> 0 THEN @MaQL ELSE MAQL END)
				AND MATK = (CASE WHEN @MaTK <> 0 THEN @MaTK ELSE MATK END)
				AND GIOITINH = (CASE WHEN @GioiTinh <> 0 THEN @GioiTinh ELSE GIOITINH END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO QUANLY(HOQL, TENQL, NGAYSINH, GIOITINH, SDT) VALUES
				(@HoQL, @TenQL, @NgaySinh, @GioiTinh, @Sdt)
		END
	IF @ActionType = 'AddAccount'
		BEGIN
			UPDATE QUANLY
			SET MATK = (SELECT MAX(MATK) FROM TAIKHOAN)
			WHERE MAQL = (SELECT MAX(MAQL) FROM QUANLY)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE QUANLY
			SET HOQL = @HoQL, TENQL = @TenQL, NGAYSINH = @NgaySinh, GIOITINH = @GioiTinh, SDT = @Sdt
			WHERE MAQL = @MaQL
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE QUANLY SET DAXOA = GETDATE() WHERE MAQL = @MaQL
			EXEC spTAIKHOAN @ActionType = 'Delete', @MaTK = @MaTK
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE QUANLY SET DAXOA = NULL WHERE MAQL = @MaQL
			EXEC spTAIKHOAN @ActionType = 'Restore', @MaTK = @MaTK
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spTAIKHOAN]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTAIKHOAN]
(
	@MaTK INT = NULL,
	@TenDangNhap VARCHAR(20) = NULL,
	@MatKhau VARCHAR(20) = NULL,
	@PhanQuyen INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	DECLARE @Salt UNIQUEIDENTIFIER = NEWID()
	IF @ActionType = 'Select'
		BEGIN
			SELECT MATK, TENDANGNHAP, MATKHAU, PHANQUYEN FROM TAIKHOAN
			WHERE DAXOA IS NULL
				AND MATK = (CASE WHEN @MaTK <> 0 THEN @MaTK ELSE MATK END)
				AND TENDANGNHAP = (CASE WHEN @TenDangNhap <> '' THEN @TenDangNhap ELSE TENDANGNHAP END)
				AND MATKHAU = (CASE
					WHEN @MatKhau <> ''
					THEN HASHBYTES('SHA2_512', @MatKhau + CAST(SALT AS VARCHAR(36)))
					ELSE MATKHAU END)
				AND PHANQUYEN = (CASE WHEN @PhanQuyen <> 0 THEN @PhanQuyen ELSE PHANQUYEN END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO TAIKHOAN(TENDANGNHAP, MATKHAU, PHANQUYEN, SALT) VALUES (
				CONVERT(VARCHAR(20), CONCAT(
					(SELECT TOP 1 KYHIEU FROM PHANQUYEN WHERE MAPQ = @PhanQuyen),
					(SELECT MAX(MANV) FROM NHANVIEN))
				),
				HASHBYTES('SHA2_512', 'dahliaffr47' + CAST(@Salt AS VARCHAR(36))), @PhanQuyen, @Salt)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE TAIKHOAN
			SET MATKHAU = HASHBYTES('SHA2_512', @MatKhau + CAST(SALT AS VARCHAR(36))), PHANQUYEN = @PhanQuyen
			WHERE MATK = @MaTK
		END
	IF @ActionType = 'ResetPassword'
		BEGIN
			UPDATE TAIKHOAN
			SET MATKHAU = HASHBYTES('SHA2_512', 'dahliaffr47' + CAST(SALT AS VARCHAR(36)))
			WHERE MATK = @MaTK
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE TAIKHOAN SET DAXOA = GETDATE() WHERE MATK = @MaTK
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE TAIKHOAN SET DAXOA = NULL WHERE MATK = @MaTK
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spTHUCDON]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTHUCDON]
(
	@MaMon INT = NULL,
	@MaLoai INT = NULL,
	@TenMon NVARCHAR(100) = NULL,
	@AnhMon VARCHAR(MAX) = NULL,
	@GiaGoc INT = NULL,
	@GiaBan INT = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MAMON, MALOAI, TENMON, ANHMON, GIAGOC, GIABAN FROM THUCDON
			WHERE DAXOA IS NULL
				AND MAMON = (CASE WHEN @MaMon <> 0 THEN @MaMon ELSE MAMON END)
				AND MALOAI = (CASE WHEN @MaLoai <> 0 THEN @MaLoai ELSE MALOAI END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO THUCDON(MALOAI, TENMON, ANHMON) VALUES
				(@MaLoai, @TenMon, @AnhMon)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE THUCDON
			SET MALOAI = @MaLoai, TENMON = @TenMon, ANHMON = @AnhMon, GIAGOC = @GiaGoc, GIABAN = @GiaBan
			WHERE MAMON = @MaMon
		END
	IF @ActionType = 'UpdateOriginalPrice'
		BEGIN
			UPDATE THUCDON
			SET GIAGOC = (SELECT SUM(GIANL) FROM CONGTHUC WHERE MAMON = @MaMon)
			WHERE MAMON = @MaMon
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE THUCDON SET DAXOA = GETDATE() WHERE MAMON = @MaMon
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE THUCDON SET DAXOA = NULL WHERE MAMON = @MaMon
		END
END
GO
/****** Object:  StoredProcedure [dbo].[spTRANGTHAIDONHANG]    Script Date: 2023-05-02 04:53:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTRANGTHAIDONHANG]
(
	@MaTT INT = NULL,
	@TenTT NVARCHAR(50) = NULL,
	@ActionType VARCHAR(50)
)
AS
BEGIN
	IF @ActionType = 'Select'
		BEGIN
			SELECT MATT, TENTT FROM TRANGTHAIDONHANG
			WHERE DAXOA IS NULL
				AND MATT = (CASE WHEN @MaTT <> 0 THEN @MaTT ELSE MATT END)
		END
	IF @ActionType = 'Create'
		BEGIN
			INSERT INTO TRANGTHAIDONHANG(TENTT) VALUES (@TenTT)
		END
	IF @ActionType = 'Update'
		BEGIN
			UPDATE TRANGTHAIDONHANG SET TENTT = @TenTT WHERE MATT = @MaTT
		END
	IF @ActionType = 'Delete'
		BEGIN
			UPDATE TRANGTHAIDONHANG SET DAXOA = GETDATE() WHERE MATT = @MaTT
		END
	IF @ActionType = 'Restore'
		BEGIN
			UPDATE TRANGTHAIDONHANG SET DAXOA = NULL WHERE MATT = @MaTT
		END
END
GO
USE [master]
GO
-- INSERT TEST --
EXEC spPHANQUYEN @ActionType = 'Create', @TenPQ = N'Quản lý', @KyHieu = 'QL'
GO
EXEC spPHANQUYEN @ActionType = 'Create', @TenPQ = N'Nhân viên', @KyHieu = 'NV'
GO
EXEC spPHANLOAINV @ActionType = 'Create', @TenLoai = N'Full-time'
GO
EXEC spPHANLOAINV @ActionType = 'Create', @TenLoai = N'Part-time'
GO
EXEC spQUANLY @ActionType = 'Create',
	@HoQL = N'Trần Hoàng Yến',
	@TenQL = N'Nhi',
	@NgaySinh = '2001-03-30',
	@GioiTinh = 1,
	@Sdt = '0833336067'
GO
EXEC spTAIKHOAN @ActionType = 'Create', @PhanQuyen = 1
GO
EXEC spQUANLY @ActionType = 'AddAccount'
GO
EXEC spQUANLY @ActionType = 'Create',
	@HoQL = N'Hoàng Thụy Quỳnh',
	@TenQL = N'Hương',
	@NgaySinh = '2003-05-01',
	@GioiTinh = 1,
	@Sdt = '0897654321'
GO
EXEC spTAIKHOAN @ActionType = 'Create', @PhanQuyen = 1
GO
EXEC spQUANLY @ActionType = 'AddAccount'
GO
EXEC spQUANLY @ActionType = 'Create',
	@HoQL = N'Ngô Thị Yến',
	@TenQL = N'Linh',
	@NgaySinh = '2003-08-17',
	@GioiTinh = 1,
	@Sdt = '0812345679'
GO
EXEC spTAIKHOAN @ActionType = 'Create', @PhanQuyen = 1
GO
EXEC spQUANLY @ActionType = 'AddAccount'
GO
EXEC spHINHTHUCTHANHTOAN @ActionType = 'Create', @TenHTTT = N'Tiền mặt'
GO
EXEC spHINHTHUCTHANHTOAN @ActionType = 'Create', @TenHTTT = N'Chuyển khoản'
GO
EXEC spHINHTHUCTHANHTOAN @ActionType = 'Create', @TenHTTT = N'MoMo'
GO
EXEC spHINHTHUCTHANHTOAN @ActionType = 'Create', @TenHTTT = N'ZaloPay'
GO
EXEC spHINHTHUCTHANHTOAN @ActionType = 'Create', @TenHTTT = N'Thẻ ATM'
GO
EXEC spTRANGTHAIDONHANG @ActionType = 'Create', @TenTT = N'Chờ phục vụ'
GO
EXEC spTRANGTHAIDONHANG @ActionType = 'Create', @TenTT = N'Hoàn thành'