<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.4.4" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1577.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
</packages>